@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root {
  --primary: rgb(22, 29, 37);
  --secondary: rgb(223, 230, 234);
}

body {
  min-width: 322px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
  color: var(--secondary);
}

*:focus-visible {
  outline: none;
}
